.app-header {
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.brand-text {
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
