<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <div class="sidebar-brand">
    <a href="">
      <img src="" alt="">
      <span class="brand-text fw-light">Admin</span>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul class="nav sidebar-menu flex-column">
        <li class="list" *ngFor="let item of menuItems">
          <a href="{{ item.link }}" class="list">{{ item.label }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <app-footer></app-footer>
</aside>